<?xml version='1.0' encoding='utf-8'?>
<widget id="org.ntu-iic" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NTU IIC</name>
    <description>
        NTU IIC official mobile app.
    </description>
    <author email="ntu-iic.marketing@ntu.edu.sg" href="ntu-iic.marketing@ntu.edu.sg">
        NTU IIC Marketing Department
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreen" value="screen" />
    <preference name="target-device" value="handset" />
</widget>
