* {
    -webkit-tap-highlight-color: rgba(0,0,0,0.4) !important; /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */


/*     background-attachment:fixed; */
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:16px;
/*     height:100%; */
    margin: 0;
    padding:0;
    width:100%;
}

/* Portrait layout (default) */
.app {

}

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        background: black;
    }
}
*/
h1 {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 6px;
    text-align:center;
    margin: 0;
    display: block;
    font-weight: 800;
    text-shadow: none;
    font-family: Helvetica, Arial, sans-serif;
/*     margin-left:; */

}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.header {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    background: #2d6d93 !important;
    color: white;
    border: none !important;
}

.panelBtn {
	float: left;
	font-size: 18px;
	border-width: 0 !important;
	padding: 8px !important;
	background: #2d6d93 !important;
	top: 0 !important;
	left: 0 !important;
}

.closeBtn {
	background: transparent !important;
	border: none !important;
	margin-top: 5px;
	color: black;
}

#main * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#mypanel .ui-listview {
	margin-left: -16px;
	margin-right: -16px;
	text-decoration: none;
}

.footer {
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;
	border-color: transparent !important;
}

.footer-button{
	background: transparent !important;
	height: 100%;
	color: white !important;
	padding-top: 5px;
}

/*
.ui-body-a, .ui-overlay-c { 
	background: black !important; 
}
*/

.hidden {
	display: none !important;
}


.pic {
	height: 100% !important; 
	width: 100% !important;
	overflow: hidden;
	border: none !important;
}

h2 {
	margin-top: -7px;
	margin-bottom: 4px;
}

h3 {
/* 	background: #1c4258; */
	background: #2d6d93;
	margin: 0;
	padding: 10px;
	text-shadow: none;
	color: white;
	font-weight: 100;
	font-family: Helvetica, Arial, sans-serif;
}

.des {
	padding: 20px 10px 40px 10px;
	font-family: Helvetica;
	overflow: scroll;
}


/* for login */
.login-title {
	background: transparent !important;
	border-color: transparent !important;
	font-size: 28px; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 100 !important;
	text-align: center; 
	margin-top: 5%;
}

.left-arrow {
	background:	url(../images/backBtn.svg) !important;
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-position: left center; 
	padding-left: 23px;
	background-size: 20px 44px;
	text-shadow: none;
	text-decoration: none;
}

.right-arrow {
	background:	url(../images/nextBtn.svg);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 23px;
	background-size: 20px 44px;
	text-shadow: none;
	text-decoration: none;
}

.left-button {
	text-shadow: none;
	text-decoration: none;
	margin-top: 8px !important;
	margin-left: 7px !important;
}

.right-button {
	text-shadow: none;
	text-decoration: none;
	margin-top: 8px !important;
	margin-right: 7px !important;
}

.label {
	font-size: 16px;
	text-decoration: none;
	color: white;
}

.ui-checkbox {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}


.ui-focus {
	box-shadow: none !important;
}

.event-control {
	right: 0; 
	top: 0; 
	margin: 0 !important;
	padding: 12px !important;
	border: none;
	background: transparent !important;
}


#event-list {
	margin: 0;
}

#event-list2 {
	margin: 0;
}

.quiz {
	margin: 0 !important;
}


.register {
	left: 0; 
	top: 0; 
	margin: 0 !important;
	padding: 12px !important;
	border: none;
	background: transparent !important;
}

.join {
	right: 0; 
	top: 0; 
	margin: 0 !important;
	padding: 12px !important;
	border: none;
	background: transparent !important;
}

.ui-header {
	border: none !important;
	padding: 0 !important;

}

li .ui-icon {
    color: #000000 !important;
}